.register-page{
    background: url("../../images/bannerbackground.png");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}

.register-form{
    margin: 0 350px;
    /* border: 1px solid black; */
    padding: 80px 50px 120px 50px;
    background-color: #fff;
}

.register-form h2{
    margin-bottom: 30px;
}

.register-button-form{
    padding: 10px 130px;
}

.footer-paragraph{
    margin-top: 30px;
}


@media only screen and (max-width:788px){
    .register-form{
        margin: 0;
        /* border: 1px solid black; */
        padding: 80px 50px 120px 50px;
        background-color: #fff;
    }

    .register-button-form{
        padding: 10px 100px;
    }
}